* {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-weight: 700;
}

.content{
	margin: 0 auto;
	max-width: 640px;
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	
	.block {
		width: 80px;
		height: 80px;
		background-color: #f00;
	}
	
	.blockk {
		width: 80px;
		height: 80px;
		background-color: #000;
	}
}