<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Counter</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>	
	<div class="card text-center mt-5 mx-auto" style="width: 18rem;">
		<div class="card-body">
			<h1 class="card-title">Counter</h1>
			<p class="card-text" id="count">
				{% block count%}{% endblock %}
			</p>
			<form action="{{url_for('login')}}" method="post">
				<button type="submit" name="count" class="btn btn-primary">Click</button>
			</form>
			<form action="{{url_for('logout')}}" method="post">
				<button type="submit" name="session" class="btn btn-danger mt-2">Reset</button>
			</form>
		</div>
	</div>
</body>
</html>